@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Luxurious+Script&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
